doctype html
html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="css/bootstrap/bootstrap-theme.css")
        link(rel="icon" href="favicon.ico")
    body
        .container-fluid

            section.py-5
                .container.text-center
                    a.d-inline-block.rounded-circle.bg-light.p-5.mb-4(href="#")
                        img(src="placeholder/icons/play.svg", alt="")

                    h1.display-4 Wedding Time
                    p.lead Our mission is not to outsell Hooli with a product like their latest Box 3. We are not in it for the money - we are in it to make the whole world decentralized. To give you control over your data. To change by the internet as we know it by integrating a very important feature into it - freedom.
                    a.btn.btn-primary(href="#") Sign up

        script(src="js/jquery/jquery.min.js")
        script(src="js/popper/popper.min.js")
        script(src="js/bootstrap/bootstrap.min.js")
